RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch ".*$">
	Header set Cache-Control "must-revalidate"
</FilesMatch>

AddType text/cache-manifest .appcache