.whatwedo{
    .whatwedocontainer{
        margin: 10px 5%;
        .whatwedotitle{
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.4rem;
            margin-bottom: 0.8rem;
            position: relative;
        }
        .whatwedopreview{
            text-align: center;
            margin-bottom: 50px;
            font-size: 0.9rem !important;
            line-height: 1.4rem !important;
            font-weight: 300;
            font-style: normal;
            margin-top: 0px;
        }
        .whatwedogrid{
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            .whatwedoitems{
                display: flex;
                padding: 10px;
                border: 1px solid rgb(252, 217, 195);
                box-shadow: rgba(0, 0, 0, 0.548);
                transition: all 800ms cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
                border-radius: 5px;
                .wwditemimage{
                    margin: 10px;
                    margin-top: 15px;
                    img{

                    }
                }
                .wwditemtexts{
                    padding-right: 20px;
                    .wwdititle{
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        margin-bottom: 0.8rem;
                        position: relative;
                    }
                    .wwdicontext{
                        margin-right: 10px;
                        font-size: 1rem !important;
                        line-height: 1.4rem !important;
                        font-family: "canada-type-gibson", sans-serif;
                        font-weight: 300;
                        font-style: normal;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}