.contactsec{
    .contact{
        height: 100vh;
        .contactwrapper{
            margin: 0 3%;
            .contactFlex{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .contactSidebar{
                    width: 20%;
                }
                .contactPlayarea{
                    width: 80%;
                    position: relative;
                    display: block;
                    .contPlayBack{
                        background-color: rgb(153, 252, 206);
                        display: block;
                        min-height: 100%;
                        width: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    .contPlayMain{
                        padding: 20px;
                        background-color: rgb(77, 184, 255);
                        position: absolute;
                        top: 0;
                        margin-top: 20px;
                        .contactTitle{
                            display: flex;
                            gap: 2rem;
                            h1{
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}