.contactsec{
    .contact{
        height: 100vh;
        .contactwrapper{
            margin: 0 3%;
            .contactFlex{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .contactSidebar{
                    width: 20%;
                }
                .contactPlayarea{
                    width: 80%;
                    position: relative;
                    display: block;
                    .contPlayBack{
                        background-color: rgb(153, 252, 206);
                        display: block;
                        min-height: 50vh;
                        width: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    .contPlayMain{
                        padding: 20px;
                        background-color: rgb(77, 184, 255);
                        position: absolute;
                        top: 0;
                        margin-top: 20px;
                        margin-left: -20px;
                        margin-right: 20px;
                        padding: 0 6%;
                        .contactTitle{
                            display: flex;
                            margin: 3rem 0;
                            gap: 2rem;
                            h1{
                                font-size: 2rem;
                            }
                        }
                        .contFormSec{
                            margin-top: 3rem;
                            margin-left: 25px;
                            form{
                                .contact-btn{
                                    border-radius: 4px;
                                    padding: 13px 54px 15px;
                                    background-color: rgb(109, 216, 255);
                                    box-shadow: rgba(0,0,0,10%) 0px 0px 7px -2px;
                                    border: 1px solid rgb(109, 216, 255);
                                    position: relative;
                                    overflow: hidden;
                                    z-index: 1;
                                    text-align: center;
                                    line-height: 19px;
                                    cursor: pointer;
                                    font-size: 16px;
                                    font-weight: 600;
                                    letter-spacing: 1.6px;
                                    text-transform: uppercase;
                                    color: rgb(255, 255, 255);
                                    -webkit-box-align: center;
                                    align-items: center;
                                    transition: color 0.15s ease-in-out 0s;
                                    display: inline-block;
                                    &:hover{
                                        color: rgb(109, 216, 255);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}