.contactsec{
    .contact{
        height: 100vh;
        .contactwrapper{
            margin: 0 3%;
            .contactFlex{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .contactSidebar{
                    width: 20%;
                }
                .contactPlayarea{
                    width: 80%;
                    .contPlayBack{
                        background-color: rgb(153, 252, 206);
                        height: 100%;
                        width: 100%;
                        padding-top: 20px;
                        padding-right: 20px;
                        padding-bottom: 0px !important;
                        .contPlayMain{
                            padding: 20px;
                            background-color: rgb(77, 184, 255);
                            .contactTitle{
                                display: flex;
                                gap: 2rem;
                                h1{
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}