.readsec{
    .read{
        .readwrapper{
            .readcontainer{
                margin: 0 5%;
                .read-inner-wrapper{
                    .read-breadcrumb{
                        margin: 20px;
                        .read-breadcrumb-container{
                            p{
                                span{
                                    margin: 0 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}