.reg{
    .regcontainer{
        .regwrapper{
            .reg-inner-wrapper{
                position: relative;
                height: 100vh;
                background-color: rgb(228, 228, 228);
                .regbox{
                    width: 500px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    padding: 20px;
                    border-radius: 5px;
                    .regtitle{
                        text-transform: capitalize;
                        font-size: 1.7rem;
                    }
                    .regform{
                        .user-input-wrp {
                            position: relative;
                            width: 94%;
                            margin: 5px 0px;
                        }
                        .user-input-wrp .inputText{
                            width: 100%;
                            outline: none;
                            border: 1px solid rgb(211, 211, 211);
                            padding: 10px 13px;
                             box-shadow: none !important;
                            border-radius: 5px;
                            background-color: #fff;
                        }
                        .user-input-wrp .inputText:not([value=""]){
                            background-color: rgb(255, 219, 166);
                        }
                        .user-input-wrp .floating-label {
                            position: absolute;
                            pointer-events: none;
                            top: 26px;
                            left: 10px;
                            transition: 0.2s ease all;
                            opacity: .5;
                            color: rgb(95, 95, 95);
                        }
                        .user-input-wrp .inputText:not([value=""]) ~ .floating-label,
                        .user-input-wrp .inputText:focus ~ .floating-label{
                            top: 0px;
                            left: 8px;
                            font-size: 13px;
                            opacity: 1;
                        }
                        // #id-input{
                        //     border: 2px solid #ff5b5b;
                        // }
                        // #id-err{
                        //     font-size: 12px;
                        //     color: red;
                        //     margin-left: 10px;
                        // }
                        .cont-gr-flex{
                            width: 97%;
                            display: flex;
                            justify-content: space-between;
                            .contPut{
                                width: 46%;
                            }
                        }
                    }
                }
            }
        }
    }
}